/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// :root{

// }

// General
*,*::after,*::before{
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.flex{
    display: flex;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}


// Typography
h1{
    font-size: 32px;
}

input,select{
    display: block;
    font-size: 0.93rem;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.4em 0.35em;
    outline: none;
    border: 0.25px solid black;
    border-radius: 2px;
}

label{
    display: block;
    margin: 0.1em 0;
}

.income-expense-container{
    width: 40%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
    }
    .income-container,.expense-container{
        max-width: 320px;
        background: #ff9036;
        padding: 2em 1em;
        border-radius: 8px;
        box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.3);
        margin: 0.5em;
    }
    .income-form,.expense-form{
        display: flex;
        flex-direction: column;
       
    }
    input[type="button"]{
        text-align: center;
        margin: 0.75em 0;
        background-color:#ffc600;
        display: inline-block;
        width: auto;
        padding: 0.4em 2.5em;
        color: lighten($color: #ffc600, $amount: 80);
        border-radius: 4px;
        align-self: center;
        font-weight: bold;
    }
    .balance-container{
        background: complement($color: #ff9036);
        margin: 2em;
        width: 80%;
        padding: 1em;
        border-radius: 8px;
        box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.3);
        text-align: center;
    }
}

.summary-container{
    flex-direction: column;
    width: 60%;
    
    
    table{
        margin: 2rem;
        text-align: center;
        border: 1px solid white;
    }

    thead{
        background: #000000;
        color: whitesmoke;
    }
    th,td{
        padding: 0.25em 0.4em;
    }

}

tbody tr:nth-child(even){
    background: lightgrey;
}

tbody tr:nth-child(odd){
    background: #f5f5f5;
}

@media all and (max-width:1050px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body{
        font-size: 12px;
    }
    input,select{
        font-size: 12px;
    }
}

@media all and (max-width:545px){
    h1{
        font-size:24px;
    }
    body{
        font-size: 10px;
    }
    .income-expense-container{
        height: 60vh;
    }

    .income-expense-wrapper{
        flex-direction: column;
    }
    input,select{
        font-size: 10px;
    }

}

@media all and (max-width:450px){
    body{
        font-size: 7px;
    }
    input,select{
        font-size: 8px;
    }

}